env:
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then CXX=g++-4.8; fi
os: osx
language: node_js
node_js:
  - "8"
  - "node"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libx11-dev
      - zlib1g-dev
      - libpng12-dev
      - libxtst-dev
      - g++-4.8
      - gcc-4.8

before_install:
 # use g++-4.8 on Linux
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CXX=g++-4.8; fi
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then $CXX --version; fi

before_script:
  # Start xvfb
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi

after_success: npm run coverage
